{% extends 'base.html' %}
{% block content %}
<div class = 'login_input m-3'>
    <form method = 'POST' action = ''>
    {% csrf_token %}
    <div class="login_input-container input-group-sm float-end border border-secondary">
        <div class='m-3'>
            {{ form.as_p}}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
        <div>
            <p class='m-2'>Already have an account. <span><a href ='{% url 'login' %}'>Login</a> </span> now</p>
        </div>
    </div>
    <form>

    
</div>
     

    
{% endblock content %}
